.site-logo {
    font-family: slackey;
    font-size: 2.25em;
}

.project-caption {
    margin-top: 18px;
}

.ui.button.project-button {
    position: relative;
    z-index: 100;
    margin: auto;
}

.ui.card,
.ui.cards>.card {
    background: #000;
}

.ui.card>.content,
.ui.cards>.card>.content {
    background: #fff;
}

.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
    background: #000;
}

.all-layout {
    margin-top: 75px;
}